server:
  port: ${SERVER_PORT:7000}
  shutdown: graceful

spring:
  main:
    banner-mode: off
  application:
    name: marketplace-service
  datasource:
    username: ${DATABASE_USER:test}
    password: ${DATABASE_PASSWORD:test}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
    show-sql: false
  flyway:
    enabled: true

  jackson:
    property-naming-strategy: SNAKE_CASE
    default-property-inclusion: non_null