build:
  maxIssues: 2
  weights:
    performance: 2
    potential-bugs: 1
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

config:
  validation: true
  warningsAsErrors: false
  checkExhaustiveness: false

processors:
  active: true
  exclude:
  #  - "ProgressListener"

console-reports:
  active: true
  exclude:
  #  - "ProjectStatisticsReport"
  #  - "ComplexityReport"
  #  - "NotificationReport"
  #  - "FindingsReport"
  #  - "FileBasedFindingsReport"

comments:
  active: true
  AbsentOrWrongFileLicense:
    active: false
  CommentOverPrivateFunction:
    active: false
  CommentOverPrivateProperty:
    active: false
  DeprecatedBlockTag:
    active: false
  EndOfSentenceFormat:
    active: false
    endOfSentenceFormat: ([.?!][ \t\n\r\f<])|([.?!]$)
  KDocReferencesNonPublicProperty:
    active: false
  OutdatedDocumentation:
    active: false
  UndocumentedPublicClass:
    active: false
    searchInNestedClass: true
    searchInInnerClass: true
    searchInInnerObject: true
    searchInInnerInterface: true
  UndocumentedPublicFunction:
    active: false
  UndocumentedPublicProperty:
    active: false

complexity:
  active: true
  ComplexCondition:
    active: true
    threshold: 3
  ComplexInterface:
    active: true
    threshold: 10
    includeStaticDeclarations: false
  ComplexMethod:
    active: true
    threshold: 10
  LargeClass:
    excludes: [ "**/test/**", "**/integrationTest/**", "**/archTest/**" ]
    active: true
    threshold: 600
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 7
    ignoreDefaultParameters: false
  MethodOverloading:
    active: true
    threshold: 6
  NestedBlockDepth:
    active: true
    threshold: 4
  StringLiteralDuplication:
    active: true
    threshold: 3
    ignoreAnnotation: true
    excludeStringsWithLessThanFiveCharacters: true
    ignoreStringsRegex: "$^"
  TooManyFunctions:
    active: true
    excludes: [ "**/test/**", "**/integrationTest/**", "**/archTest/**" ]
    thresholdInFiles: 11
    thresholdInClasses: 11
    thresholdInInterfaces: 11
    thresholdInObjects: 11
    thresholdInEnums: 11
    ignoreDeprecated: false
    ignorePrivate: false
    ignoreOverridden: false

coroutines:
  active: true
  RedundantSuspendModifier:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

empty-blocks:
  active: true
  EmptyCatchBlock:
    active: true
    allowedExceptionNameRegex: "^(_|(ignore|expected).*)$"
  EmptyClassBlock:
    active: true
  EmptyDefaultConstructor:
    active: true
  EmptyDoWhileBlock:
    active: true
  EmptyElseBlock:
    active: true
  EmptyFinallyBlock:
    active: true
  EmptyForBlock:
    active: true
  EmptyFunctionBlock:
    active: true
    ignoreOverridden: false
  EmptyIfBlock:
    active: true
  EmptyInitBlock:
    active: true
  EmptyKtFile:
    active: true
  EmptyObjectBlock:
    active: true
  EmptySecondaryConstructor:
    active: true
  EmptyTryBlock:
    active: true
  EmptyWhenBlock:
    active: true
  EmptyWhileBlock:
    active: true

exceptions:
  active: true
  ExceptionRaisedInUnexpectedLocation:
    active: true
    methodNames: [ "toString", "equals", "hashCode", "finalize", "clone", "getClass", "wait", "notify", "notifyAll" ]
  InstanceOfCheckForException:
    active: true
  NotImplementedDeclaration:
    active: true
  ObjectExtendsThrowable:
    active: true
  PrintStackTrace:
    active: true
  RethrowCaughtException:
    active: true
  ReturnFromFinally:
    active: true
  SwallowedException:
    active: true
    allowedExceptionNameRegex: "^(_|(ignore|expected).*)$"
  ThrowingExceptionFromFinally:
    active: true
  ThrowingExceptionInMain:
    active: true
  ThrowingExceptionInsteadOfNull:
    active: true
  ThrowingExceptionsWithoutMessageOrCause:
    active: true
    exceptions: [ "IllegalArgumentException", "IllegalStateException", "NullPointerException", "IOException" ]
  ThrowingNewInstanceOfSameException:
    active: true
  TooGenericExceptionCaught:
    active: true
    exceptionNames:
      - "Error"
      - "Exception"
      - "RuntimeException"
      - "Throwable"
  TooGenericExceptionThrown:
    active: true
    exceptionNames:
      - "Error"
      - "Exception"
      - "RuntimeException"
      - "Throwable"

naming:
  active: true
  BooleanPropertyNaming:
    active: true
    allowedPattern: "^(is|has|are|can|should|was|were|will|did|does|have)[A-Z].*"
  ClassNaming:
    active: true
    classPattern: "[A-Z][a-zA-Z0-9]*"
  ConstructorParameterNaming:
    active: true
    parameterPattern: "[a-z][a-zA-Z0-9]*"
    privateParameterPattern: "[a-z][a-zA-Z0-9]*"
    excludedClassPattern: "$^"
  EnumNaming:
    active: true
    enumEntryPattern: "[A-Z][_a-zA-Z0-9]*"
  FunctionNaming:
    active: true
    functionPattern: "[a-z][a-zA-Z0-9]*"
    excludeClassPattern: "$^"
  FunctionParameterNaming:
    active: true
    parameterPattern: "[a-z][a-zA-Z0-9]*"
    excludeClassPattern: "$^"
  InvalidPackageDeclaration:
    active: true
    rootPackage: ""
  MatchingDeclarationName:
    active: true
    mustBeFirst: true
  MemberNameEqualsClassName:
    active: true
    ignoreOverriddenFunction: true
  NoNameShadowing:
    active: true
  NonBooleanPropertyPrefixedWithIs:
    active: true
  ObjectPropertyNaming:
    active: true
    constantPattern: "[A-Z][_A-Z0-9]*"
    propertyPattern: "[a-z][a-zA-Z0-9]*"
    privatePropertyPattern: "[a-z][a-zA-Z0-9]*"
  PackageNaming:
    active: true
    packagePattern: "[a-z]+(\\.[a-z][a-zA-Z0-9]*)*"
  TopLevelPropertyNaming:
    active: true
    constantPattern: "[A-Z][_A-Z0-9]*"
    propertyPattern: "[A-Za-z][_A-Za-z0-9]*"
    privatePropertyPattern: "[A-Za-z][_A-Za-z0-9]*"
  VariableNaming:
    active: true
    variablePattern: "[a-z][a-zA-Z0-9]*"
    privateVariablePattern: "[a-z][a-zA-Z0-9]*"
    excludeClassPattern: "$^"

performance:
  active: true
  ArrayPrimitive:
    active: true
  ForEachOnRange:
    active: true
  SpreadOperator:
    active: true
  UnnecessaryTemporaryInstantiation:
    active: true

potential-bugs:
  active: true
  Deprecation:
    active: true
  DuplicateCaseInWhenExpression:
    active: true
  EqualsAlwaysReturnsTrueOrFalse:
    active: true
  EqualsWithHashCodeExist:
    active: true
  InvalidRange:
    active: true
  IteratorHasNextCallsNextMethod:
    active: true
  IteratorNotThrowingNoSuchElementException:
    active: true
  IteratorNotReturningValues:
    active: true
  LateinitUsage:
    active: true
  MissingWhenCase:
    active: true
  RedundantElseInWhen:
    active: true
  UnconditionalJumpStatementInLoop:
    active: true
  UnreachableCode:
    active: true
  UnsafeCallOnNullableType:
    active: true
  UnsafeCast:
    active: true
  UnusedUnaryOperator:
    active: true
  UselessPostfixExpression:
    active: true
  UselessPrefixExpression:
    active: true
  IgnoredReturnValue:
    active: true
  ImplicitDefaultLocale:
    active: true
  MapGetWithNotNullAssertionOperator:
    active: true
  NullCheckOnMutableProperty:
    active: true
  NullableToStringCall:
    active: true
  CastNullableToNonNullableType:
    active: true
  PropertyUsedBeforeDeclaration:
    active: true

style:
  active: true
  CollapsibleIfStatements:
    active: false
  DataClassPrivateConstructor:
    active: false
  EqualsNullCall:
    active: false
  ExpressionBodySyntax:
    active: false
    includeLineWrapping: false
  ForbiddenComment:
    active: true
    values: 'TODO:,FIXME:,STOPSHIP:'
  ForbiddenImport:
    active: false
    imports: ''
  FunctionOnlyReturningConstant:
    active: false
    ignoreOverridableFunctions: true
    excludedFunctions: 'describeContents'
  MagicNumber:
    active: true
    excludes: [ "**/test/**", "**/integrationTest/**", "**/archTest/**" ]
    ignoreNumbers: "-1,0,1,2"
    ignoreHashCodeFunction: false
    ignorePropertyDeclaration: false
    ignoreLocalVariableDeclaration: false
    ignoreConstantDeclaration: true
    ignoreCompanionObjectPropertyDeclaration: true
    ignoreNamedArgument: true
    ignoreAnnotation: true
    ignoreEnums: false
  MandatoryBracesIfStatements:
    active: false
  MaxLineLength:
    active: true
    excludes: [ "**/test/**", "**/integrationTest/**", "**/archTest/**" ]
    maxLineLength: 120
    excludePackageStatements: true
    excludeImportStatements: true
    excludeCommentStatements: false
  MayBeConst:
    active: false
  ModifierOrder:
    active: true
  NewLineAtEndOfFile:
    active: true
  NoTabs:
    active: true
  OptionalAbstractKeyword:
    active: true
  OptionalUnit:
    active: true
  ProtectedMemberInFinalClass:
    active: true
  ReturnCount:
    active: true
    max: 2
    excludedFunctions: "equals"
  SafeCast:
    active: true
  ThrowsCount:
    active: true
    max: 2
  UnnecessaryAbstractClass:
    active: true
  UnnecessaryApply:
    active: true
  UnnecessaryLet:
    active: true
  UnnecessaryParentheses:
    active: true
  UnnecessaryInheritance:
    active: true
  UnusedImports:
    active: true
  UnusedPrivateMember:
    active: true
  UseArrayLiteralsInAnnotations:
    active: true
  WildcardImport:
    active: false
    excludeImports:
      - "java.util.*"